/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Baseline Corrections
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Typography (baseline corrections)
================================================== */

	h1 { line-height: 49px; margin-bottom: 14px;}
	h2 { line-height: 42px; margin-bottom: 7px; }
	h3 { line-height: 35px; margin-bottom: 7px; }
	h4 { line-height: 28px; margin-bottom: 7px; }
	h5 { line-height: 21px; }

	p { margin: 0 0 21px 0; }
	p.lead { line-height: 28px; }


/*	Blockquotes  */
	blockquote, blockquote p { line-height: 21px;}
	blockquote { margin: 0 0 21px; padding: 7px 20px 0 19px; }

	hr { margin: 14px 0 28px;}
	
/* #Lists (baseline corrections)
================================================== */
	ul, ol { margin-bottom: 14px; }
	ul ul, ul ol,
	ol ol, ol ul { margin: 7px 0 7px 30px; }
	ul ul li, ul ol li,
	ol ol li, ol ul li { margin-bottom: 7px; }
	li { line-height: 21px;}	

/* #Site Styles
================================================== */


/* #Box Sizing Fix
================================================== */

	* 
	{
		-moz-box-sizing: border-top;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	} 

/* #Body styles
================================================== */
	
	body
	{
		background: 
		url(../images/bg.png) repeat,
		#dcf0f5;
	}
	
	.border
	{
		border: 4px solid #fff;
	}
	
/* #Navigation
================================================== */

	.band.nav
	{
		background-color: #52b6cf; 
		background-image: url(../images/fallback-gradient.png) repeat-x;
		background: -moz-linear-gradient(top, #52b6cf 0%, #3c8ca0 100%); /* FF3.6+ */
		background: -webkit-linear-gradient(top, #52b6cf 0%, #3c8ca0 100%);
		background: -ms-linear-gradient(top, #52b6cf 0%, #3c8ca0 100%);
		background: linear-gradient(top, #52b6cf 0%, #3c8ca0 100%);
		border-bottom: 1px solid #3c8ca0;
		font-family: 'Droid Sans', sans-serif;
	}

	nav.primary ul,
	nav.primary ul li
	{
		margin: 0px;
		
	}
	
	nav.primary ul
	{
		white-space: nowrap;
		float: right;
	}

	nav.primary ul li
	{
		display: inline;
		position: relative;
	}

	nav.primary ul li a
	{
		display: inline-block;
		font-size: 14px;
		line-height: 21px;
		padding:  14px 14px 14px 14px;
		color: #fff;
		font-weight: bold;
		text-decoration: none;
		letter-spacing: 0.08em;
		text-shadow: 1px 1px 0 #434242;
		
	}

	nav.primary ul li a:hover
	{
		color: #dcf0f5;
		cursor: pointer;
	}
	
/* #Header
================================================== */

	.band.header
	{
		margin-top: 35px;
		margin-bottom: 28px;
	}
	
	.logo
	{
		float: left;
	}
	
	.heading-text-shadow
	{
		text-shadow: 1px 1px 0 #434242;
	}
	
	h1.supplement-text
	{
		font-family: 'Anton', sans-serif;
		background: url(../images/supplement.png) no-repeat center; 
		/*text-transform:uppercase;
		font-size: 72px;
		line-height: 72px;
		font-weight: normal;*/
		margin-left: 150px;
		margin-top: 7px;
		color: #181818;
		text-indent: 100%;					/* sends the text off-screen */
		white-space: nowrap;
		overflow: hidden;
		text-indent: -9999px;                 
		height: 60px;                        /* be sure to set height & width */
		width:  346px;   
	}
	
	.quick-deals-text
	{
		font-family: 'Anton', sans-serif;
		text-transform:uppercase;
		font-weight: normal;
		font-size: 48px;
		margin-left: 209px;
		line-height: 48px;
		color: #3c8ca0;
		text-shadow: 2px 2px 0 #181818;
	}
	
	
	.shipping
	{
		height: 133px;
		width: 249px;
		background: url(../images/free-shipping.png) no-repeat center;
		font-family: 'Droid Sans', sans-serif;
		color: #181818;
	}
	
	.free-text
	{
		font-size: 48px;
		font-weight: bold;
		position: relative;
		left: 50px;
		top: 26px;
		color: #181818;
	}
	
	.shipping-text
	{
		font-size: 28px;
		position: relative;
		right: 65px;
		top: 58px;	
	}
	
/* #Purchase
================================================== */
	.purchase
	{
		padding: 0px 0px 7px 0px;
		margin-bottom: 7px;
	}

	select {

		width: 46px;
		margin-bottom: 7px;
	}
	
	
	.quantity-add-container
	{
		height: 83px;
		margin-top:21px;
		margin-bottom: 10px;
	}
	
	.quantity
	{
		float: left;
		margin-right: 57px;
	}

	
	.heading-small-margin
	{
		margin-bottom: 7px;
	}
	
/* #Product Size and Dosage
================================================== */	

	.dosage
	{
		padding: 21px;
		background: #fff;
		-moz-border-radius: 15px;
		-webkit-border-radius: 15px;
		border-radius: 15px;
		border: 1px solid #ddd;
		
	}
	
	.social-bar
	{
		margin: 7px;
	}
	
/* #Main Description
================================================== */	

	.description
	{
		margin-top: 21px;
		background: #fff;
		padding: 21px;
		-moz-border-radius: 15px;
		-webkit-border-radius: 15px;
		border-radius: 15px;
		border: 1px solid #ddd;
	}
	
	.description a
	{
		color: #3c8ca0;
	}
	
	.description a:hover
	{
		color: #181818;
	}	
	
/* #Footer
================================================== */		
	
	.band.bottom 
	{
		padding: 28px 0 7px 0;
		color: #000;
	}
	
	.bottom footer {
		font-size: 12px;
		text-align: center;
	}


/* #Buttons
================================================== */

	.button,
	button,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
		background: #ffa12e; /* Old browsers */
		background: #ffa12e -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, #ff7e0e 100%); /* FF3.6+ */
		background: #ffa12e -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,#ff7e0e)); /* Chrome,Safari4+ */
		background: #ffa12e -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,#ff7e0e 100%); /* Chrome10+,Safari5.1+ */
		background: #ffa12e -o-linear-gradient(top, rgba(255,255,255,.2) 0%,#ff7e0e 100%); /* Opera11.10+ */
		background: #ffa12e -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,#ff7e0e 100%); /* IE10+ */
		background: #ffa12e linear-gradient(top, rgba(255,255,255,.2) 0%,#ff7e0e 100%); /* W3C */
	  border: 2px solid #d88b41;
	  border-top: 1px solid #d88b41;
	  border-left: 1px solid #d88b41;
	  -moz-border-radius: 3px;
	  -webkit-border-radius: 3px;
	  border-radius: 3px;
	  color: #fff;
	  display: inline-block;
	  font-size: 21px;
	  font-weight: bold;
	  text-decoration: none;
	  text-shadow: 0 1px rgba(68, 68, 68, .75);
	  cursor: pointer;
	  margin-top: 0px;
	  line-height: normal;
	  padding: 14px 14px;
	  font-family: 'Droid Sans', Helvetica, Arial, sans-serif; }

	.button:hover,
	button:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover {
		color: #fff;
		background: #f7972f; /* Old browsers */
		background: #f7972f -moz-linear-gradient(top, rgba(255,255,255,.3) 0%, #f47719 100%); /* FF3.6+ */
		background: #f7972f -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.3)), color-stop(100%,#f47719)); /* Chrome,Safari4+ */
		background: #f7972f -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%,#f47719 100%); /* Chrome10+,Safari5.1+ */
		background: #f7972f -o-linear-gradient(top, rgba(255,255,255,.3) 0%,#f47719 100%); /* Opera11.10+ */
		background: #f7972f -ms-linear-gradient(top, rgba(255,255,255,.3) 0%,#f47719 100%); /* IE10+ */
		background: #f7972f linear-gradient(top, rgba(255,255,255,.3) 0%,#f47719 100%); /* W3C */
	  border: 1px solid #d88b41;
	  border-top: 1px solid #d88b41;
	  border-left: 1px solid #d88b41; }

	.button:active,
	button:active,
	input[type="submit"]:active,
	input[type="reset"]:active,
	input[type="button"]:active {
		border: 1px solid #f76400;
		background: #f7972f; /* Old browsers */
		background: #f7972f -moz-linear-gradient(top, rgba(255,255,255,.35) 0%, #f47719 100%); /* FF3.6+ */
		background: #f7972f -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.35)), color-stop(100%,#f47719)); /* Chrome,Safari4+ */
		background: #f7972f -webkit-linear-gradient(top, rgba(255,255,255,.35) 0%,#f47719 100%); /* Chrome10+,Safari5.1+ */
		background: #f7972f -o-linear-gradient(top, rgba(255,255,255,.35) 0%,#f47719 100%); /* Opera11.10+ */
		background: #f7972f -ms-linear-gradient(top, rgba(255,255,255,.35) 0%,#f47719 100%); /* IE10+ */
		background: #f7972f linear-gradient(top, rgba(255,255,255,.35) 0%,#f47719 100%); /* W3C */ }

	.button.full-width,
	button.full-width,
	input[type="submit"].full-width,
	input[type="reset"].full-width,
	input[type="button"].full-width {
		width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-align: center; }

	/* Fix for odd Mozilla border & padding issues */
	button::-moz-focus-inner,
	input::-moz-focus-inner {
    border: 0;
    padding: 0;
	}

	a:visited .button
	{
		color: #fff;
	}
/* #End
================================================== */